body{
    margin:0;
    background-color: #1d1d1d;;
}
.side-navbar{
    height: 100vh;
    background-color: #181818;
    width: 200px;
    color: white;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    position: fixed;
    left: 0;
    top:0;
}

.side-navbar #side-navbar-content{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    width: 100%;
    font-size: large;
}

.side-navbar #side-navbar-content #introduction{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    width: 100%;
}
.side-navbar #side-navbar-content #introduction #name{
    display:  flex;
    flex-direction: row;
    justify-content: center;

}
.side-navbar #side-navbar-content #introduction #name #main-logo-first{
    color: #E30B5C;
    font-weight: 800;
    font-size: 50px;
}

.side-navbar #side-navbar-content #introduction #name #main-logo-second{
    color: cyan;
    font-weight: 800;
    font-size: 50px;
}

.side-navbar #side-navbar-content #introduction #main-name{
    font-weight: 700;
    font-size: larger;
}